<div class="card flex-row flex-wrap dark">
    <div class="card-header border-0">
      <img src="https://pbs.twimg.com/profile_images/440090982533836800/0cFEFCVU_400x400.jpeg" alt="starship">
    </div>
    <div class="card-block px-2">
      <h4 class="card-title">a</h4>
      <p class="card-text">b</p>
      <p class="card-text">c</p>
      <p class="card-text">d</p>
      <p class="card-text">e</p>
      <p class="card-text">f</p>
      <p class="card-text">b</p>
      <p class="card-text">v</p>
      <p class="card-text">v</p>
      <p class="card-text">v</p>
    </div>
    <div class="w-100"></div>
    <div class="card-footer w-100 text-muted"> x </div>
  </div>
  
